{% extends 'base.html' %}
{% block title %}Register Form{% endblock %}
{% block body %}

<div class="header">
    <h1 class="text-center mt-3">Register Form:</h1>
</div>

{% with msgs = get_flashed_messages(with_categories = true) %}
    {% if msgs %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                {% for ctg, msg in msgs %}
                    <p class="{{ctg}}">{{ msg }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}
    
<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="POST" action="/register">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {% if field.label.text != "Register" %}
                        {{ field.label }}:
                    {% endif %}
                    {{ field( class_='form-control' ) }}

                    {% for err in field.errors %}
                        <small class="form-text text-danger">
                            {{ err }}
                        </small>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}